Build
Binaries
DerivedDataCache
Intermediate
Saved
Plugins/Developer/RiderLink
Plugins/UEModularFeatures_ExtraActions
enc_temp_folder
.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ipch
*.TMP